{% extends 'base.html' %}
{% block content %}
<h1>Fetch Twitch Videos</h1>
<form method="POST">
    <label for="username">Fetch clips of : {{username}}</label>
    <label for="nb_clips">Numebr of clips to extract</label>
    <input type="number" name="nb_clips" id="nb_clips" min="0" max="100" required><br>

   
    
  

    <button type="submit">Fetch Videos</button>
</form>

{% if videos %}
<h3> </h3>
<h2>Videos</h2>
<ul>
    {% for video in videos %}
        <li>
            Nom de la vidéo : {{ video | tojson }}
        </li>
        <li>
            <form method="POST" action="/download">
                <input type="hidden" name="video_id" value="{{ video.id }}">
                <button type="submit">Download</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endif %}

<p> Si problème, redémarrer le serveur </p>

<form action="/restart" method="post">
    <button type="submit" class="btn btn-danger">Redémarrer le serveur</button>
</form>

<!-- Ajouter un bouton ou un lien vers la page d'upload TikTok -->
<h2>Upload Video to TikTok</h2>
<p>Accédez à la page pour télécharger votre vidéo sur TikTok.</p>
<a href="/upload_to_tiktok">
    <button type="button" class="btn btn-primary">Upload Video to TikTok</button>
</a>

{% endblock %}
