{% extends 'base.html' %}
{% block content %}
    <h1>Télécharger une vidéo sur TikTok</h1>

    <form action="/upload_to_tiktok" method="POST" enctype="multipart/form-data">
        <label for="videoFile">Sélectionner une vidéo</label>
        <input type="file" name="videoFile" id="videoFile" required><br><br>

        <label for="caption">Légende</label><br>
        <textarea name="caption" id="caption" rows="4" cols="50" placeholder="Entrez la légende de la vidéo (facultatif)"></textarea><br><br>

        <button type="submit">Télécharger sur TikTok</button>
    </form>
{% endblock %}