{% extends 'base.html' %}
{% block content %}

<h1>Post Tiktok Videos</h1>
<form method="POST">
    <label for="username">Tiktok Username </label>
    <input type="text" id="username" name="username" required>
    
    <label for="password">password</label>
    <input type="password" id="password" name="password">

    <button type="submit">Post Video</button>
</form>

{% if videos %}
<h2>Videos</h2>
<ul>
    {% for video in videos %}
        <li>
            {{ video.title }} ({{ video.view_count }} views)
            <form method="POST" action="/download">
                <input type="hidden" name="video_id" value="{{ video.id }}">
                <button type="submit">Download</button>
            </form>
        </li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}